.AppMainUI{
        width: 100vw;
        height: 100vh;

}

.ParentUI{
    display: flex;
}

.ChatRoomUI{
 flex: 0.80;
 min-height: 36.70em;
 max-height: 500em;
 border: 1px solid rgb(128, 12, 75);
}

.ChatRoomHeaderUI{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
 border-bottom: 1px solid rgb(128, 12, 75);
}


.ChatRoomInput:focus{
    outline: none;
  }

.ChatRoomInput{
    flex : 0.70;
    padding: 5px;
    padding-left: 35px;
    border: 1px solid silver;
    border-radius: 8px;
   }

   .ChatRoomInput:focus {
    border: 1px solid fuchsia;
    transition: border 1s;
    box-shadow: 1px 1px 1px grey;

   }

.ChatRoomButton{
    flex:0.20;
    border:1px solid silver;
    border-radius: 8px;
}

.ChatRoomButton:hover{
   border: 1px solid fuchsia;
    transition: border 1s;
    box-shadow: 1px 1px 1px grey;
}
  
.RoomNamesUI{
    margin: 1em;
    padding: 10px;
    border-radius: 8px;
    padding-left: 1em;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid silver;
}

.RoomNamesUI:hover{
    border: 1px solid fuchsia;
    transition: border 1s;
    box-shadow: 1px 1px 1px grey;
}


#ChatMessageUI{
    flex:2;
    height: 36.70em;

}


#ChatMessageFormUI{
    display: flex;
    flex-direction: column;
 
}

.ChatMessageMessagesUI{
 min-width: 100% ;
 min-height: 32em;
 max-height: 400em;
}

.FormSectionChatMessagesUI{
 min-width: 100%;
 min-height:3em;
 display: flex;
 gap:20px;
 flex-shrink: 0;
}

.ChatMessageInputUI{
    flex:3;
    margin-left: 15px;
    border-bottom: 1px solid fuchsia;
    padding-left: 35px;
}

.ChatMessageInputUI:focus{
    outline: none;
}
.ChatMessageButtonUI{
    flex:1;
    margin-right: 15px;
    border: 1px solid fuchsia;
    border-radius: 8px;
    color:fuchsia;
}

.ChatMessageButtonUI:hover{
    background-color: rgb(240, 229, 229);
    box-shadow: 1px 1px 1px grey;
}