.AppMainUI{
        width: 100vw;
        height: 100vh;

}
.ChatMessagesUI{
  border: 1px solid rgb(168, 9, 168);
  width: 70vw;
  height: 91vh;
  margin: auto;
  background-color:rgb(168, 9, 168);
  border-radius: 12px;
  margin-top: 2px;
  box-shadow: 1px 1px 2px black;
  
}

.FromUI{
  width: 55vw;
  height: 85vh;
  border: 1px solid white;
  margin: auto;
  margin-top: 1em;
  border-radius: 8px;
  background-color: white;
  overflow: scroll;
  scrollbar-width: thin;
  overflow-x: hidden; 
  position: relative;
  
}

.FormItemsUI{
  position: absolute;
  bottom: 0;
  display: flex;
  gap:1em;
  margin-bottom: 25px;
  position:fixed;
}

.InputUI{
 padding: 5px; 
 width: 40vw;
 margin-left: 20px;
 padding-left: 35px;
 border: 1px solid rgb(168, 9, 168);
 border-radius: 8px;
}

.InputUI:focus{
  outline: none;
}

.ButtonUI{
  background-color: rgb(168, 9, 168);
  width: 10vw;
  border-radius: 8px;
  margin-right: 10px;
  color:white;
}


.ButtonUI:hover{
  background-color:rgb(199, 31, 199);
  box-shadow: 1px 1px 1px grey;
  transition: all 1s;
}

.ChatSpanUI{
  margin : 1em;
  margin-left: 1em;
  display: flex;
  width:50vw;
  min-height: 75vh;
  max-height: 1000vh;
  flex-direction: column;
  position: relative;
}

.MessagesUI{
  border: 1px solid rgb(168, 9, 168);
  display: flex;
  flex-wrap: wrap;
  width:300px;
  margin-bottom: 1em;
  border-radius: 2px 100px 100px 40px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.CreateddAt{
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right:0;
  margin-right: 20px;
 
}

.RoomNameUI{
  text-align: center;
  font-size: 25px;
  color:rgb(168, 9, 168);
  margin-top: 10px;
}

.userNameUI{
  color:rgb(168, 9, 168)
}

.HomePageUI{
  text-align: center;
  font-size: 60px;
  color:rgb(168, 9, 168);
  margin-top: 2em;
}

.ButtonSectionUI{
  margin-left: 36em;
  margin-top: 2em;
}

